.toDoItem {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.3125rem;
}

.contentSection {
  flex: 1;
}

.titleSection {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem;
  align-items: center;
}

.title {
  font-size: 1.125rem;
  font-weight: bold;
  white-space: pre;
}

.descriptionSection {
  padding: 0 0.5rem 0.5rem 0.5rem;
  text-align: left;
  color: dimgray;
  white-space: pre-wrap;
}

.editIcon {
  margin-left: auto;
  margin-right: 0.625rem;
  color: #1976d2;
  cursor: pointer;
}

.editIcon:hover {
  color: #115599;
}

.deleteIcon {
  color: rgb(211, 47, 47);
  cursor: pointer;
}

.deleteIcon:hover {
  /* color: rgb(182, 15, 15); */
  color: rgb(142, 27, 27);
  cursor: pointer;
}
